body{
    background-color: azure;

    
}
h1 {
    color: rgb(34, 9, 9);
    background-color: rgb(109, 109, 133);
    margin: 0rcap;
    border: 5px black dashed;

}
a {
    margin: 0in;
    color: rgb(54, 70, 38) ;
    background-color: rgb(243, 228, 96);
    border: 5px rgb(26, 3, 63) solid;

}
h2 {
    background-color: rgb(114, 114, 231);
    border: 3px red solid;


}
p {
    color: rgb(0, 0, 0);
    border: 3px black solid;
}
img {
    border: 3px black solid;
}
h1 ~ p {
    color: black;
}